# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# IDE settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Docker
*.env
*.env.*
*.local
*.dockerignore
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints

# Test coverage
.coverage
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/